@charset "UTF-8";

body {
  font-size: 14pt;
  margin: 0 150px 40px;
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
}

h1 {
  font-size: 48pt;
  margin-top: 40px;
  margin-bottom: 0;
}

h1 a {
  color: black !important;
  text-decoration: none;
}

h2 {
  font-size: 24pt;
}

.tagline {
  margin: 0.4em auto auto 20px;
  color: #888;
  font-size: 0.9em;
}

a:link {
	color: #005585;
}

a:visited {
	color: #485270;
}

a:hover {
	color: #b83800;
}

pre {
  padding: 8px;
  background-color: #eee;
  white-space: pre-wrap;
  font-family: Menlo, 'andale mono', 'lucida console', monospace;
  font-size: 0.9em;
  line-height: 1.6em;
}

#main {
  margin: 0 10px;
}

#footer {
  text-align: center;
  font-size: 0.9em;
  margin: 20px 4px 10px;
  border-top: 1px solid #ccc;
  padding: 4px;
}

#footer * {
  display: inline-block;
  width: 170px;
}

#footer .left {
  text-align: left;
}
#footer .center {
  text-align: center;
}
#footer .right {
  text-align: right;
}
