@charset "UTF-8";

body {
  font-size: 14pt;
  margin: 0 150px 40px;
  line-height: 150%;
  font-family: Georgia, 'bitstream vera serif', serif;
}

h1 {
  font-size: 48pt;
  margin-top: 40px;
  margin-bottom: 0;
}

h2 {
  font-size: 24pt;
}

.tagline {
  margin: 0.4em auto auto 20px;
  color: #888;
  font-size: 0.9em;
}
